.c30p { width:30%; float:left; }
.c100 { width:100px; float:left; }
.bold { font-weight:700; }
.ac { text-align:center; }
.sep { background-color:#EEE; height:1px; line-height:1px; font-size:1px; clear:both; margin:1px; }
.progress div { background-color:#007700; border-top:3px solid #fff; border-bottom:3px solid #fff; height:12px; width:0%; font-size:10px; font-weight:700; color:#fff; text-align:center; }
#files_totals { display:none; }
